@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;600&family=Work+Sans:wght@500&display=swap");

@font-face {
  font-family: "Avenir Next";
  src: url("../public/fonts/AvenirNextLTPro-Regular.otf");
}
@font-face {
  font-family: "Avenir Next Bold";
  src: url("../public/fonts/AvenirNextLTPro-Bold.otf");
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Avenir Next Bold";
}
